{% extends "bolao/layout.html" %}
{% load static %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>E-mail Enviado</h2>
        <div class="message message-success">
            <div class="message-content">
                <p class="message-text">
                    Enviamos um e-mail com instruções para redefinir sua senha.
                    Se uma conta existir com o e-mail que você forneceu, você receberá essas instruções em breve.
                </p>
            </div>
        </div>
        <div class="auth-links">
            <p><a href="{% url 'login' %}">Voltar ao login</a></p>
        </div>
    </div>
</div>
{% endblock content %}