{% extends "bolao/layout.html" %}
{% load static %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Senha Alterada</h2>
        <div class="message message-success">
            <div class="message-content">
                <p class="message-text">
                    Sua senha foi alterada com sucesso! Agora você pode fazer login com sua nova senha.
                </p>
            </div>
        </div>
        <div class="auth-links">
            <p><a href="{% url 'login' %}">Ir para o login</a></p>
        </div>
    </div>
</div>
{% endblock content %}