{% extends "bolao/layout/base.html" %}
{% load static %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Senha Alterada</h2>
        <div class="auth-message">
            <p>Sua senha foi alterada com sucesso!</p>
            <p>Agora você pode fazer login com sua nova senha.</p>
        </div>
        <div class="auth-links">
            <p><a href="{% url 'login' %}" class="btn btn-primary">Fazer Login</a></p>
        </div>
    </div>
</div>
{% endblock content %}