{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Pennini Bet - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bolao/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bolao/css/components/_toast.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "bolao/components/navbar.html" %}

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>

    <script type="module" src="{% static 'bolao/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>